/****Navbar****/

body {
    padding-top: 70px;
}


.navbar-fixed-top {
    background: #723155;
    opacity: 0.99;
    border-bottom: hidden
}


nav.navbar-default a {
    color: #fff !important;
}

ul.nav li a:hover,
ul.nav .active a{
    color: #723155 !important;
    background-color: #fff !important;
}

ul.nav .active a{
    color: black !important;
    background-color: #fff !important;
}

ul.dropdown-menu li a:hover{
    color: #fff !important;
    background-color: #723155 !important;
}


/****Jumotron****/

.jumbotron {
    background: #723155;
}

.jumbotron h1 {
    margin-bottom: 200px;
    color: #ffffff;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron p {
    margin: 0px;
    color: #d9d9d9;
}

.row img {
    width: 100%;
}


/**** Text color****/

p {
    color: #723155;
}


/****Spatieri****/


/*Fiecare rand sa aiba 30px liberi sub*/

.row {
    margin-bottom: 30px;
}


/*Pentru linkuri pe pagina. Altfel navbar-ul acopera headingul
Intotdeauna foloseste h2 pentru capitole pe pagina.*/

h2 {
    padding-top: 70px;
    margin-top: -60px;
}


/*ultimul p din row sa nu aiba distanta sub*/

.row p:last-child {
    margin-bottom: 0px;
}
