html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 400px;
}


/****Navbar****/

.navbar-fixed-top {
    background: #723155;
    border-color: #723155;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

.navbar-default a {
    color: #fff !important;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
    background-color: #a8487d !important;
}

.navbar-right li.dropdown a.dropdown-toggle,
ul.dropdown-menu {
    background-color: #723155;
}

ul.dropdown-menu li.dropdown-header {
    color: #c578a2;
}

ul.dropdown-menu li.divider {
    background-color: #602948;
}


/****Header****/

.header-deblindete h1 {
    font-size: 60px;
    font-family: 'Lobster', cursive;
}

.page-header {
    margin: 0 0 50px 0;
}


/****Footer****/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 300px;
    background-color: #262626;
    padding-top: 50px;
}

.footer .col-sm-4 div {
    margin-bottom: 5px;
}

.footer .col-sm-4:nth-child(3) div {
    float: right;
    width: 190px;
}

.footer-text-muted {
    text-align: center;
    color: #727272;
}

.footer hr {
    margin: 20px 0 20px 0;
}

.footer,
.footer a,
.glyphicon {
    color: #fff;
}

.footer a:hover {
    color: #a8487d;
}

.unu {
    font-size: 16px;
    font-family: 'Lobster', cursive;
}

.doi {
    font-size: 12px;
}

.trei {
    font-size: 10px;
    font-weight: bold;
}

.fb-img {
    height: 20px;
    width: 20px;
}

.glyphicon {
    font-size: 17px;
}

.fb-img,
.glyphicon {
    margin-right: 10px;
    color: #d1cccc;
}


/****Jumotron****/

.jumbotron {
    position: relative;
    height: 600px;
    margin-bottom: 50px;
}

.jumbotron-ciobanes-alb-elvetian {
    background: #723155 url("../images/covers/cae.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron-kleinspitz-pomeranian {
    background: #723155 url("../images/covers/ks.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron-persana-chinchilla {
    background: #723155 url("../images/covers/pps.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron h1 {
    color: #ffffff;
    font-family: 'Lobster', cursive;
}

.srasa-link {
    position: absolute;
    bottom: 10px;
}


/****Underline effect****/

header .jumbotron-ciobanes-alb-elvetian a {
    position: relative;
    color: #a8487d;
    text-decoration: none !important;
}

header .jumbotron-ciobanes-alb-elvetian a:hover {
    color: #a8487d;
}

header .jumbotron-ciobanes-alb-elvetian a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #a8487d;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header .jumbotron-ciobanes-alb-elvetian a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/****Link Images****/

.img-container {
    position: relative;
    background: #000;
    margin-bottom: 30px;
}

.img-container img {
    width: 100%;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.img-caption {
    position: absolute;
    top: 45%;
    width: 100%;
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.row div.img-container:hover img {
    opacity: 0.3;
}

.row div.img-container:hover .img-caption {
    opacity: 1;
}


/****Sizing****/

#contact p {
    margin-bottom: 40px;
}

#link-img {
    margin: 50px 0 20px 0;
}

hr {
    margin: 0px 50px 0px 50px;
}


/*
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 1000px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
*/


/**** Styling ****/

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    color: #723155;
}

p {
    font-size: 16px;
}

section {
    padding: 50px 0px 80px 0px;
}

.section-header h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
}

#history h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

#history .row p {
    margin-bottom: 40px;
}

#map {
    border-radius: 6px;
    width: 100%;
    height: 400px;
}

.mf {
    margin-bottom: 100px;
}

.mf .col-sm-4 {
    text-align: center;
}

.panel-footer {
    color: #a9a9a9;
    font-weight: 100;
    background: #fff;
    border-top: none;
}


/**** Buttons deBlindete ****/

.btn-deBlindete {
    font-family: 'Lobster';
    border: 1px solid #723155;
    color: #723155;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.btn-deBlindete:hover {
    background: #602948;
    color: #ffffff;
}

.img-cont {
    padding: 0px;
}

.cont-img {
    position: relative;
    padding-left: 40px;
    height: 300px;
}

.cont-img h3 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}

.row-slim {
    width: 800px;
    margin: 0px auto 100px;
}

.gp-buttons {
    position: absolute;
    width: 80%;
    bottom: 15px;
}

.btn-galery {
    width: 48%;
    float: left;
}

.btn-pedigree {
    width: 48%;
    float: right;
}

.photo {
    float: left;
}

.cont-img hr {
    border: 1px solid #723155;
    margin: 0px 0px 30px 0px;
}

.section-header p {
    text-align: center;
    font-family: 'Lobster', cursive;
}

#males {
    z-index: 2;
}
