html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 400px;
}


/****Navbar****/

.navbar-fixed-top {
    background: #723155;
    border-color: #723155;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

.navbar-default a {
    color: #fff !important;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
    background-color: #a8487d !important;
}

.navbar-right li.dropdown a.dropdown-toggle,
ul.dropdown-menu {
    background-color: #723155;
}

ul.dropdown-menu li.dropdown-header {
    color: #c578a2;
}

ul.dropdown-menu li.divider {
    background-color: #602948;
}


/****Header****/

.page-header {
    font-size: 60px;
    margin: 0 0 50px 0;
}

.header-deblindete {
    font-family: 'Lobster', cursive;
}

.section-header {
    margin-bottom: 80px;
}

.section-header h1 {
    text-align: center;
    font-size: 50px;
}

#males .section-header,
#females .section-header {
    margin-bottom: 20px;
}

#males .section-header h1,
#females .section-header h1 {
    text-align: left;
    margin-bottom: 0px;
}

#males .section-header hr,
#females .section-header hr {
    margin: auto;
}


/****Footer****/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 300px;
    background-color: #262626;
    padding-top: 50px;
}

.footer .col-sm-4 div {
    margin-bottom: 5px;
}

.footer .col-sm-4:nth-child(3) div {
    float: right;
    width: 190px;
}

.footer-text-muted {
    text-align: center;
    color: #727272;
}

.footer hr {
    margin: 20px 0 20px 0;
}

.footer,
.footer a,
.glyphicon {
    color: #fff;
}

.footer a:hover {
    color: #a8487d;
}

.unu {
    font-size: 16px;
    font-family: 'Lobster', cursive;
}

.doi {
    font-size: 12px;
}

.trei {
    font-size: 10px;
    font-weight: bold;
}

.fb-img {
    height: 20px;
    width: 20px;
}

.glyphicon {
    font-size: 17px;
}

.fb-img,
.glyphicon {
    margin-right: 10px;
    color: #d1cccc;
}


/****Jumotron****/

.jumbotron {
    position: relative;
    height: 600px;
    margin-bottom: 50px;
}

.jumbotron-ciobanes-alb-elvetian {
    background: #723155 url("../images/covers/cae.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron-kleinspitz-pomeranian {
    background: #723155 url("../images/covers/ks.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron-persana-chinchilla {
    background: #723155 url("../images/covers/pps.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron-akhal-teke {
    background: #723155 url("../images/covers/at.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron h1 {
    color: #ffffff;
    font-family: 'Lobster', cursive;
}

.srasa-link {
    position: absolute;
    bottom: 20px;
    right: 20px
}


/****Underline effect****/

.underline-effect {
    position: relative;
    color: #a8487d;
    text-decoration: none !important;
}

.underline-effect:hover {
    color: #a8487d;
}

.underline-effect:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #a8487d;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.underline-effect:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/****Link Images****/

#link-img {
    margin-top: 50px;
}

.img-container {
    position: relative;
    background: #000;
    margin-bottom: 30px;
}

.img-container img {
    width: 100%;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.glyphicon-caption {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 3em;
    color: #fff;
    top: 37%;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.img-caption {
    position: absolute;
    width: 100%;
    font-size: 30px;
    top: 45%;
    color: #fff;
    font-weight: 100;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#males .img-caption,
#females .img-caption {
    width: auto;
    top: 85%;
    left: 10px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    opacity: 1;
}

.row div.img-container:hover img {
    opacity: 0.3;
}

.row div.img-container:hover .img-caption,
.row div.img-container:hover .glyphicon-caption {
    opacity: 1;
}


/****Sizing****/

#contact p {
    margin-bottom: 40px;
}

hr {
    margin: 0px 50px 0px 50px;
}


/**** Styling ****/

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    color: #723155;
}

p {
    font-size: 16px;
}

section {
    padding: 50px 0px 80px 0px;
}

section#males {
    padding: 50px 0px 0px 0px;
}

#history h3 {
    font-weight: bold;
    margin-bottom: 25px;
}

#history .row p {
    margin-bottom: 40px;
}

#map {
    border-radius: 6px;
    width: 100%;
    height: 400px;
}

.mf {
    margin-bottom: 100px;
}

.mf .col-sm-4 {
    text-align: center;
}

.panel-footer {
    color: #a9a9a9;
    font-weight: 100;
    background: #fff;
    border-top: none;
}


/**** Modal ****/

.modal-deBlindete .modal-dialog {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.modal-deBlindete .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0px;
}

.modal-deBlindete .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.modal-deBlindete .close-modal:hover {
    opacity: 0.3;
}

.modal-deBlindete .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051;
}

.modal-deBlindete .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1052;
}

.modal-deBlindete .modal-content p {
    margin-top: 30px;
    font-style: italic;
}

.modal-deBlindete .modal-content h2 {
    margin: 0px;
    font-size: 80px;
    font-family: 'Lobster', cursive;
}

.modal-deBlindete .modal-content h3 {
    margin: 0px 0px 5px 0px;
    font-size: 30px;
    font-weight: bold;
}

.modal-deBlindete .modal-content h4 {
    margin: 0px 0px 0px 150px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.modal-deBlindete .modal-content .row {
    margin-top: 50px;
}

.img-centered {
    margin: 0 auto;
    max-height: 486px;
}
